.App {
	text-align: center;
}
.Header {
	color: black;
	text-shadow: 1px 1px 5px gray;
}
/* write your parent styles in here for your App.js */

.card {
	flex-grow: 1;
	height: auto;
	padding: 50px;
	margin: 20px;
	margin-left: 440px;
	width: 400px;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.completeCard {
	width: 70%;
	margin: 0 auto;
}
